# DataFrame

## Concept

 What's DataFrame consisted of two-dimensional data. DataFrame has a label to a column and row. 
column label is called `index label`, row label is called a column label ???

create DataFrame

In [1]:
import pandas as pd
import numpy as np

In [2]:
val = ['a', 1, 0.5]
df = pd.DataFrame(val)
df

     0
0    a
1    1
2  0.5