### 2.2.2 basic operation of dataframe.

#### * dataframe attributes

to check dataframe index level, to use index attribute. If no designated to the dataframe constructor argument, the default index designated.

In [1]:
import pandas as pd
import numpy as np

In [2]:
val = [[1, 2, 3], [4, 5, 6]]
df = pd.DataFrame(val)
print(df.index)
df

RangeIndex(start=0, stop=2, step=1)

   0  1  2
0  1  2  3
1  4  5  6

In [3]:
df.index = ['a', 'b']
print(df.index)
df

Index(['a', 'b'], dtype='object')

   0  1  2
a  1  2  3
b  4  5  6

In [4]:
df.columns

RangeIndex(start=0, stop=3, step=1)

In [5]:
df.columns = ['c','d','e']
df.columns

Index(['c', 'd', 'e'], dtype='object')

In [6]:
df.loc['a', :]

c    1
d    2
e    3
Name: a, dtype: int64

In [7]:
print(df.loc['b','e'])
print(df.loc['a','e'])

6
3

In [8]:
df.iloc[0, :]

c    1
d    2
e    3
Name: a, dtype: int64

In [9]:
df.iloc[1, :]

c    4
d    5
e    6
Name: b, dtype: int64

In [10]:
df.iloc[1, 2]

6

In [11]:
df

   c  d  e
a  1  2  3
b  4  5  6

In [12]:
df * 2

   c   d   e
a  2   4   6
b  8  10  12

In [13]:
df

   c  d  e
a  1  2  3
b  4  5  6

In [14]:
df2 = df * df

In [15]:
df2

    c   d   e
a   1   4   9
b  16  25  36

In [16]:
df.shape

(2, 3)

In [17]:
df.size

6

In [19]:
df = pd.DataFrame([[1.0, np.nan],[2.0, np.nan], [np.nan, 3.0]])
print(df.shape)
print(df.size)

(3, 2)
6

#### * How to change and add the dataframe.

Dataframe of pandas is to like python dectinary. canto change dataframe specitic value using refer index.

In [20]:
df = pd.DataFrame([[1,2,3], [4,5,6]])
df.iloc[1,1] = 100
df

   0    1  2
0  1    2  3
1  4  100  6

In [22]:
# add dataframe
df['new1'] = 10
df['new2'] = [5, 6]
df

   0    1  2  new1  new2
0  1    2  3    10     5
1  4  100  6    10     6

In [23]:
# use append
val = [7,8,9,10,11]
index = [0,1,2,'new1', 'new2']
series_add = pd.Series(val, index=index, name='new3')
df = df.append(series_add)
df

      0    1  2  new1  new2
0     1    2  3    10     5
1     4  100  6    10     6
new3  7    8  9    10    11

In [26]:
# drop row
df.drop(labels='new3', axis=0, inplace=True)
df

   0    1  2  new1  new2
0  1    2  3    10     5
1  4  100  6    10     6

In [27]:
df.drop(labels=['new1', 'new2'], axis=1, inplace=True)
df

   0    1  2
0  1    2  3
1  4  100  6

duplicate data

In [30]:
val = [[1,2,3],[4,5,6],[1,2,3],[4,5,6],[1,2,3]]
df = pd.DataFrame(val, columns=list('ABC'))
df

   A  B  C
0  1  2  3
1  4  5  6
2  1  2  3
3  4  5  6
4  1  2  3

In [31]:
df.duplicated(keep='first')

0    False
1    False
2     True
3     True
4     True
dtype: bool

In [32]:
df[df.duplicated(keep='first')]

   A  B  C
2  1  2  3
3  4  5  6
4  1  2  3