### Create dataframe

In [1]:
import pandas as pd
import numpy as np

#### * create dataframe from numpy array

In [2]:
val = np.array([[1,2,3],[4,5,6]])
df = pd.DataFrame(val, index=list('ab'), columns=list('cde'))
df

   c  d  e
a  1  2  3
b  4  5  6

In [4]:
# NaN
val = [[1,2,3], [4,5]]
df = pd.DataFrame(val)
df

   0  1    2
0  1  2  3.0
1  4  5  NaN

In [5]:
dictionary = {'a': [1,2,3], 'b': [4,5,6]}
df = pd.DataFrame(dictionary)
df

   a  b
0  1  4
1  2  5
2  3  6

#### * create from pandas series

** have to check to miss data. **

In [6]:
age = pd.Series([10,12,9], index=list('ABC'))
sex = pd.Series(['M', 'F', 'F'], index=list('CAD'))
df = pd.DataFrame({'age':age,'sex':sex})
df

    age  sex
A  10.0    F
B  12.0  NaN
C   9.0    M
D   NaN    F

create dataframe from nested dictionary

In [7]:
nest_dict = {
    'age': {'A': 10, 'B': 12, 'C': 9},
    'sex': {'C': 'M', 'A': 'F', 'D': 'F'}
}

df = pd.DataFrame(nest_dict)
df

    age  sex
A  10.0    F
B  12.0  NaN
C   9.0    M
D   NaN    F

#### have to check data types.

In [9]:

df = pd.DataFrame([[1,2],[3,4]], columns=list('AB'), dtype=None)
df.dtypes

A    int64
B    int64
dtype: object

In [11]:
df = pd.DataFrame([[1,2],[3,4]], columns=list('AB'), dtype=np.float64)
print(df.dtypes)
df

A    float64
B    float64
dtype: object

     A    B
0  1.0  2.0
1  3.0  4.0

#### * refer dataframe index

In [12]:
df = pd.DataFrame({
    'math':      [82, 93, 77],
    'english':   [77, 87, 71],
    'chemistry': [69, 91, 89]
})

df

   math  english  chemistry
0    82       77         69
1    93       87         91
2    77       71         89

In [13]:
df['math']

0    82
1    93
2    77
Name: math, dtype: int64

In [14]:
df[['math', 'english']]

   math  english
0    82       77
1    93       87
2    77       71

In [15]:
type(df[['math', 'english']])

pandas.core.frame.DataFrame

In [20]:
df[df['math'] > 80]

   math  english  chemistry
0    82       77         69
1    93       87         91